name: Run tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    name: Build and Test
    steps:
      - uses: actions/checkout@v6
      - uses: mlugg/setup-zig@v2
      - run: zig build test
